<div>
    <div>
        <h2>Account: {{name}}</h2>
    </div>
</div>

<div>
    <div class="orders">
        <h3>Past Orders</h3>
        {{#if orders.length}}
        <div class="pastOrder">
            {{#each orders as |order|}}
            <div>
                <h4><a href="/order/{{order.id}}">{{order.id}}</a></h4>
            </div>
            <div>
                <button class="btn btn-sm btn-danger" data-id="{{order.id}}">Order Again</button>
            </div>
            {{/each}}
            {{else}}
            <div class="pastOrder">
                <h4>No past orders!</h4>
            </div>
        </div>
    </div>
    {{/if}}
</div>